:root{
    --background: rgb(243, 243, 243);
    --background-hover: rgb(240, 240, 240) !important;
    --shadow: rgba(0, 0, 0, 0.159) 3px 3px 6px 0px inset, rgb(255, 255, 255) -3px -3px 6px 1px inset;

    --border-color: rgb(188, 188, 188);
}

html, body {
    background-color: var(--background) !important;
    
}

header{
    /* background-color: rgb(0, 43, 103) !important; */
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 1rem;
}

header h1 {
    background-color: #000000;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(208, 208, 208, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
aside h2 {
    background-color: #1f1f1f;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(208, 208, 208, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.input-group input {
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: .3rem;
    border: 1px solid var(--border-color) !important;
}

.input-group input:focus {
    box-shadow: var(--shadow)!important;  
    border: 1px solid var(--background)!important;
    background-color: var(--background-hover) !important;
    outline: none !important;
}

.input-group button {
    width: 100%;
    border-radius: 3px !important;
}

.today-weather{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color) !important;
    border-radius: 10px;
    padding: 2rem;
    transition: box-shadow .2s ease-in-out;
    transition: all .4s ease-in-out;
}

.today-weather:hover {
    box-shadow: var(--shadow);  
    border: 1px solid var(--background)!important;
    background-color: var(--background-hover) !important;
}

.date-wrapper{
    display: flex;
}

.today-weather h3{
    font-size: 1.5rem;
    padding: .5rem 1rem 0 0;
}

.today-weather img{
    object-fit: cover;
    width: 50px;
    transition: all .2s ease-in-out;
}

#forecast {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 16px;
}

#forecast-title h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #1f1f1f;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(208, 208, 208, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.forecast-card {
    padding: 1rem;
    background-color: var(--background) !important;
    border: 1px solid var(--border-color) !important;
    max-width: 191px;
    width: 100%;
    transition: all .2s ease-in-out;
    border-radius: 10px !important;
}

.forecast-card:hover {
    box-shadow: var(--shadow);  
    border: 1px solid var(--background)!important;
    background-color: var(--background-hover) !important;
}

.forecast-card img{
    width: 50px;
    transition: all .2s ease-in-out;
    margin-bottom: 1rem;
}

.text-shadow {
    background-color: #1f1f1f;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(208, 208, 208, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;
}

.forecast-card:hover *,
.today-weather:hover * {
    color: rgb(88, 88, 88);
}

.forecast-card:hover img,
.today-weather:hover img{
    transform: scale(1.3);
}